<script src="app.module.ts"></script>
<mat-toolbar color="primary" style="height: 100px;">
  <mat-toolbar-row style="padding-top: 30px">
    <button mat-icon-button class="icon" aria-label="menu icon" (click)="drawerLeft.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <div fxLayout="column" fxLayoutAlign="center space-evenly">
      <span style="margin-bottom: 10px;">NoSQL E-Learning-Module - {{chapter}}</span>
      <mat-progress-bar style="height:8px;" mode="determinate" color="accent" value="75"></mat-progress-bar>
    </div>
    <span class="spacer"></span>
    <form class="mat-form-container">
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Suche</mat-label>
        <input matInput placeholder="Begriff" value="">
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="main-content">
  <mat-sidenav class="nav-left" mode="side" opened #drawerLeft>
    <mat-list role="list">
      <a class="nav-left-item" mat-list-item routerLink="/kapitel1">Kapitel 1 – Kategorien von NoSQL-Datenbanken</a>
      <a class="nav-left-item" mat-list-item routerLink="/kapitel2">Kapitel 2 – Theoretische Grundlagen von NoSQL-Datenbanken</a>
      <a class="nav-left-item" mat-list-item routerLink="/kapitel3">Kapitel 3 – Architektur und Datenkonsistenzmodelle</a>
      <a class="nav-left-item" mat-list-item routerLink="/kapitel4">Kapitel 4 – Algorithmen für NoSQL</a>
      <a class="nav-left-item" mat-list-item routerLink="/kapitel5">Kapitel 5 – Anwendungszwecke von NoSQL-Datenbanken</a>
    </mat-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>




