table {
  width: 50%;
  height: 100%;
}

.explanation {
  text-align: left;
  width: 95%;
  margin: 20px;
}

.keyValueConsole{
  width: 95%;
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  height: 50px;
  width: 30%;
  background: #C2185B;
  color: white;
}

mat-form-field {
  width: 32%;
}

.container {
  display: flex;
  padding-right: 20px;
}

.keyValueContainer{
  width: 50%;
}
